<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter's Availability App</title>
    <link rel="stylesheet" href="/css/utils.css" />
     <link rel="stylesheet" href="/css/style-members.css" />
          <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <section class="header">
        <div id="header" class="container">
            <a href="#"><strong>Waiter's Availability App</strong></a>

            <div>
                <ul id="navbar">
                    <li><a class="#" href="/">Home</a></li>
                    <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                </ul>
            </div>

            <div id="mobile">
                <i id="bar" class="fa-solid fa-align-right"></i>
            </div>
        </div>
    </section>

    <div class="container">
            <div class="cont-box">
                <div class="title">Login</div>

                <div class="content">
                    <form action="/login" method="post">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input type="text" class="form-control" placeholder="email" name="email">
                            </div>
                             <div class="input-box">
                                <span class="details">Password</span>
                                <input type="text" class="form-control" placeholder="password" name="password">
                            </div>

                        </div>

                        <div class="button">
                            <button class="button" type="submit" name="button">Submit</button>
                        </div>

                        {{#if messages.error}}
                        <div class="errors">
                            <h5 class="error">{{messages.error}}</h5>
                        </div>
                        {{/if}}
                        <p>Don't have an account? <a href="/signup">Sign up</a>.</p>
                    </form>
                </div>
            </div>

        </div>
        <script src="/js/setimeout.js"></script>
    
</body>
</html>