<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/skeleton.css">
      <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>

     <div class="card-body">
                        <div class="flex">
                            <div class="theDays">
                                {{waiter}}
                                <form action="/shifts" method="POST">
                                    {{#each weeklyShifts}}
                                        <div>
                                            <input class="m-2" type="checkbox" name="checkDays" value="{{shifts}}" {{#if check}}checked{{/if}}><span class="m-2 dayText"><strong>{{shifts}}</strong></span>
                                        </div>
                                    {{/each}}

                            </div>
                            <div class="update-btn flex">
                                    <div class="saveBtn">
                                        <button class="btn myBtn" type="submit" name="button">Save</button>
                                    </div>
                                </form>

                                
                                
                                <div class="homeBtn">
                                    <a class="btn myBtn" href="/">Home</a>
                                      <a class="btn myBtn" href="/shifts/days">View</a>
                                </div>
                                
                            </div>
                        </div>
    
</body>
</html>