.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.white{
    background-color:#D7B4AD;
    
}
tbody {
    background-color: aliceblue;

}
