.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.white{
    background-color:yellow;
    
}
tbody {
    background-color: aliceblue;

}

.errors{
    color:crimson;
    font-style: italic;
}

.success{
    color:greenyellow;
}
